%ol.breadcrumb
  %li
    = link_to_unless_current "首页",welcome_path
  %li
    =  "报名列表"
.panel.panel-default
  .panel-heading
    报名列表&nbsp&nbsp&nbsp
    = link_to "竞价列表",bid_path,:class => "btn ", :style => "margin-left: 1150px"
  %table.table
    %tr
      %td(align="center")  编号
      %td(align="right")  姓名
      %td(align="center")  手机号
    -  id=(@us-1)*10
    - @activity.each do |p|
      %tr
        %td(align="center")= id=id+1
        %td(align="right")= p.apply_name
        %td(align="center")=p.apply_phone
.pagination(style="margin-left: 1050px;margin-top: 10px" )
  = will_paginate @activity, :previous_label=> '<<', :next_label=> '>>'