%ol.breadcrumb
  %li
    = link_to_unless_current "首页",welcome_path
  %li
    =  "竞价列表"
.panel.panel-default
  .panel-heading
    竞价列表&nbsp&nbsp&nbsp
    = link_to "报名列表",apply_path,:class => "btn ", :style => "border-left-width: 1150px"
  %table.table
    %tr
      %td(align="center")  编号
      %td(align="center")  名称
      %td(align="center")  参与人数
    -  id=(@us-1)*10
    - @bid.each do |p|
      %tr
        %td(align="center")= id=id+1
        %td(align="center")= link_to p.bid_name,bid_message_path(:bid_name=>p.bid_name)
        %td(align="center")=p.bid_num + '/'+ p.apply_num


.pagination(style="margin-left: 1050px;margin-top: 10px" )
  = will_paginate @bid, :previous_label=> '<<', :next_label=> '>>'