#login.boxed-group
  .panel.panel-default{:style => "width: 500px;margin-left: 450px;;margin-top: 90px"}
    .panel-body
      %h3 重置密码
      %p= link_to "用户登录", login_path, :style => "padding-left: 400px"
      = form_tag "/next_two" do
        .input-group
          %span.input-group-addon 忘记密码问题
          = text_field_tag :question, session[:question], :class => 'form-control',:disabled=>"disabled"
        %p
        .input-group
          %span.input-group-addon 忘记密码答案
          = text_field_tag :answer, params[:answer], :class => 'form-control', :placeholder => "请输入答案"
        %p
          - if @error
            .alert.alert-danger
              =@error
        %p
          = submit_tag "下一步", :style => "margin-left: 165px;width: 116px"