<div class="boxed-group" id="login">
  <h3>用户登录</h3>
  <li><%= link_to "用户注册", signup_path %></li>
  <li><%= link_to "忘记密码", login_path %></li>
  <%= form_tag "/create_login_session" do %>
      <div class="input-group">
        <span class="input-group-addon">帐号</span>
        <%= text_field_tag :name, params[:name], :class => 'form-control', :placeholder => "Username" %>
      </div>
      <div class="input-group">
        <span class="input-group-addon">密码</span>
        <%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder => "password" %>
      </div>
      <p>
        <%= submit_tag "登录", :class => "btn-4" %>
      </p>
  <% end %>
</div>
