%ol.breadcrumb
  %li
    = link_to_unless_current "首页",manager_index_path
  %li
    = link_to_unless_current "修改用户密码", modify_password_path
#login.boxed-group
  .panel.panel-default{:style => "width: 500px;margin-left: 450px;;margin-top: 90px"}
    .panel-body
      = form_for :user do |f|
        %p
        .input-group
          = f.label :帐号, :class => "input-group-addon", :style => "padding-left: 50px;padding-right: 50px"
          = f.label :name, session[:name], :class => "form-control", :disabled => "disabled"
        %p
        .input-group
          = f.label :请设置密码, :class => "input-group-addon", :style => "padding-left: 30px;padding-right: 30px"
          = f.password_field :password, :class => "form-control"
        %p
        .input-group
          = f.label :请确认重复密码, :class => "input-group-addon", :style => "padding-left: 16px;padding-right: 16px"
          = f.password_field :password_confirmation, :class => "form-control"
        %p
          - if flash[:error]
            .alert.alert-danger
              =flash[:error]
          - if @a
            #alert.modal
              .modal-dialog
                .modal-content
                  .modal-header
                    %h2.modal-title
                  .modal-body.text-center
                    %h2 修改成功
                  .modal-footer
                    = link_to "确定", manager_index_path, :class => "btn btn-default"
          :javascript
            $('#alert').modal('show')
        %p
          = submit_tag "修改", :style => "margin-left: 165px;width: 116px"
