%ol.breadcrumb
  %li
    = link_to_unless_current "首页",welcome_path
  %li
    = link_to "竞价列表",bid_path
  %li
    = "第一次竞价"
.panel.panel-default
  .panel-heading( style="height: 151px")
    - if @display=="success"
      %h3(style="padding-left: 600px" )
        ="获胜者:"+@price.apply_name
      %h3(style="padding-left: 620px" )
        ="出价:"+@price.bid_price
      %h3(style="padding-left: 550px" )
        ="手机号:"+@price.bid_phone
    - if @display=="faild"
      %h3(style="padding-left: 600px" ) 对不起竞价失败
    - if @display=="now"
      %h3(style="padding-left: 600px" ) 竞价正在进行中

  %p
    = link_to "出价列表",bid_message_path,:class => "btn ", :style => "border-left-width: 1150px"
    = link_to "竞价统计",price_count_path,:class => "btn ", :style => "border-left-width: 1150px"
  %table.table
    %tr
      %td(align="center")  价格/元
      %td(align="center")  人数
    - @count.each do |p|
      %tr
        %td(align="center")=p.price
        %td(align="center")=p.count
.pagination(style="margin-left: 1050px;margin-top: 10px" )
  = will_paginate @count, :previous_label=> '<<', :next_label=> '>>'