.boxed-group
  .panel.panel-default{:style => "width: 500px;margin-left: 450px;;margin-top: 90px"}
    .panel-body
      = form_for @user do |f|
        %h3 新用户注册
        %p= link_to "用户登录", login_path, :style => "padding-left: 400px"
        .input-group
          = f.label :帐号, :class => "input-group-addon", :style => "padding-left: 50px;padding-right: 50px"
          = f.text_field :name, :class => "form-control"
        %p
        .input-group
          = f.label :请设置密码, :class => "input-group-addon", :style => "padding-left: 30px;padding-right: 30px"
          = f.password_field :password, :class => "form-control"
        %p
        .input-group
          = f.label :请确认重复密码, :class => "input-group-addon", :style => "padding-left: 16px;padding-right: 16px"
          = f.password_field :password_confirmation, :class => "form-control"
        %p
        .input-group
          = f.label :忘记密码问题, :class => "input-group-addon", :style => "padding-left: 22px;padding-right: 22px"
          = f.text_field :question, :class => "form-control"
        %p
        .input-group
          = f.label :忘记密码答案, :class => "input-group-addon", :style => "padding-left: 22px;padding-right: 22px"
          = f.text_field :answer, :class => "form-control"
        %p
        - if @user.errors.any?
          .alert.alert-danger
            = @user.errors.full_messages.first
        %p= f.submit "注册", :class => "button primary", :style => "margin-left: 165px;width: 116px"
